  h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: justify;
}

h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  color: justify;
}
.image-logo {
  display: block;
  border: #121212;
  border-radius: 200px;
  left: 10px;
  height: auto;
  width: 200px;
  margin: 1px;
  margin-top: -40px;

}
.about-image {
  display: block;
  border: #121212;
  border-radius: 60px;
  top: 0%;
  right: 0%;
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-top: -150px;
  

}
body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: left;
  padding-top: 50px;
  transition: background-color 0.4s, color 0.4s;
}

.dark {
  background-color: #121212;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 100px;
  font-size: 16px;
  position: fixed;
  top: 20px;
  right: 20px;
text-align: left;
  padding: 10px 20px;
  border: none;
}

.red-span {
  color: #d73612;
  font-weight: bold;
  font-size: 40px;
}

.rainbow-color {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
}
a {
  color: #1a0dab;
  text-decoration: none;
}